<md-list-item ng-class="{selectedItem: selectedIndex === item}">
    <md-checkbox ng-checked="item.completed" ng-click="complete(item)" aria-label="Checkbox 1">
        Done
    </md-checkbox>
    <p ng-class="{strike:item.completed}">{{item.title}}</p>
    <md-icon class="md-secondary" ng-click="edit(item)" aria-label="delete" md-font-icon="material-icons">create
    </md-icon>
    <md-icon class="md-secondary" ng-click="delete(item)" aria-label="delete" md-font-icon="material-icons">
        delete
    </md-icon>
</md-list-item>