<md-content class=" md-whiteframe-2dp md-padding">
    <div layout="column">
        <form ng-submit="add()">
            <md-input-container flex>
                <label>{{ todoLabel }}</label>
                <input id="{{ inputId }}" type="text" ng-model="newEntry">
            </md-input-container>
            <md-button flex type="submit">{{ action }}</md-button>
        </form>
        <div layout="row">
            <div flex>
                <md-input-container>
                    <label>Recherche</label>
                    <input type="text" flex ng-model="searchText" ng-change="goPageOne()">
                </md-input-container>
            </div>

            <md-input-container flex>
                <label>Nombre de tâches par page</label>
                <md-select ng-model="pageSize" id="pageSize" class="form-control" ng-change="goLastPage()">
                    <md-option value="5">5</md-option>
                    <md-option value="10">10</md-option>
                    <md-option value="15">15</md-option>
                    <md-option value="20">20</md-option>
                    <md-option value="25">25</md-option>
                </md-select>
            </md-input-container>
        </div>
    </div>
    <md-list class="md-dense" flex>
        <my-list-item
                ng-repeat="x in data | orderBy:'-id' | filter:{title:searchText} | startFrom:currentPage*pageSize | limitTo:pageSize track by $index"
                data-list="data" delete-call-back="deleteCallBack" edit-call-back="editCallBack" complete-call-back="completeCallBack"
                selected-index="selectedIndex" data-index="$index" data-item="x"></my-list-item>
    </md-list>
    <div layout="row" layout-margin layout-align="center center">

        <md-button class="md-raised md-primary" ng-disabled="currentPage == 0"
                   ng-click="currentPage=currentPage-1">Previous
        </md-button>

        <md-button ng-repeat="i in getNumber(numberOfPages()) track by $index" class="md-fab md-mini md-primary"
                   ng-if="$index<currentPage+3 && $index>currentPage-3" ng-click="goToPage($index)"
                   ng-disabled="currentPage==$index">

            {{$index+1}}
        </md-button>

        <md-button class="md-raised md-primary"
                   ng-disabled="currentPage >= getData().length/pageSize - 1"
                   ng-click="currentPage=currentPage+1">Next
        </md-button>

    </div>
</md-content>